/*--------------
    COLOR-BG
---------------*/
.ms-bg-lightgray{
    background-color: #f8f9fa;
}
.ms-bg-blu{
    background-color: #1b72e8;
}

/*--------------
    DEBUG
---------------*/
.wrapper{
    background-color: bisque;
}

/*--------------
    GENERAL
---------------*/
.wrapper{
    height: calc(100vh - 65px);
}
.main-content{
    width: 100%;
    overflow-y: auto;
}

/*--------------
    HEADER
---------------*/
header{
    height: 65px;
}
.col-auto #search{
    border: none;
    background-color: #e5e5e5;
    border-radius: 5px;
    width: 100%;
    min-height: 30px;
}
.ms-relative{
    position: relative;
}
.icon-search{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}
.ms-bell{
    color: #ff8f00;
    background: none;
    border: none;
}
.ms-bell::after{
    display: none;
}
.logo-sm{
    width: 40px;
}
.logo-lg{
    display: none;
}
.icons-sm{
    display: none;
}

/*--------------
    ASIDE
---------------*/
aside{
    width: 80px;
    background-color: #051e34;
    background-image: url(./img/sidebar-bg.png);
}
aside span{
    display: none;
}
.menu{
    list-style: none;
    padding: 0;
}
.admin{
    margin-top: auto;
}

/*--------------
    MAIN-HEADER
---------------*/
.main-header{
    width: 100px;
}


/*--------------
    MEDIA QUERY
---------------*/
@media screen and (min-width: 574px){
    .offcanvas.offcanvas-end{
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    aside{
        width: 160px;
    }
    aside span{
        display: inline;
    }
    .offcanvas.offcanvas-end{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    .logo-sm{
        display: none;
    }
    .logo-lg{
        display: block;
    }
    .ms-icons-lg{
        display: inline;
    }
}