/*--------------
    COLOR-BG
---------------*/
.ms-bg-lightgray{
    background-color: #f2f3f4;
}
.ms-bg-blu{
    background-color: #1b72e8;
}
.ms-bg-opaque-blue{
    background-color: #00000030;
}
.ms-bg-grey{
    background-color: #e5e5e5;
}

/*--------------
    DEBUG
---------------*/
.debug{
    border: 1px dashed black;
}
.debug-row{
    border: 1px solid coral;
}

/*--------------
    GENERAL
---------------*/
.wrapper{
    height: calc(100vh - 65px);
}
.main-content{
    width: 100%;
    overflow-y: auto;
}

/*--------------
    HEADER
---------------*/
header{
    height: 65px;
}
.col-auto #search{
    border: none;
    background-color: #e5e5e5;
    border-radius: 5px;
    width: 100%;
    min-height: 30px;
}
.ms-bell{
    color: #ff8f00;
    background: none;
    border: none;
}
.ms-bell::after{
    display: none;
}
.logo-sm{
    width: 40px;
}
.logo-lg{
    display: none;
}
.icons-sm{
    display: none;
}

/*--------------
    ASIDE
---------------*/
aside{
    width: 60px;
    background-color: #051e34;
    background-image: url(./img/sidebar-bg.png);
}
.menu{
    list-style: none;
    padding: 0;
}
.admin{
    margin-top: auto;
}





/*--------------
    MEDIA QUERY
---------------*/
@media screen and (min-width: 574px){
    .offcanvas.offcanvas-end{
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .offcanvas.offcanvas-end{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    .logo-sm{
        display: none;
    }
    .logo-lg{
        display: block;
    }
    .ms-icons-lg{
        display: inline;
    }
    aside{
        width: 160px;
    }
}